GNU nano 4.8                                                     /etc/systemd/system/l4d2-update.service
[Unit]
Description=l4d2 update
After=network.target

[Service]
Type=oneshot
User=steam
Group=steam
WorkingDirectory=/home/steam/steam
ExecStart=/home/steam/steam_workshop_downloader/workshop.py -o /home/steam/steam/l4d2/left4dead2/addons/workshop 2283884609
ExecStart=/home/steam/steam/steamcmd.sh +login anonymous +force_install_dir ./l4d2/ +app_update 222860 validate +quit

[Install]
WantedBy=multi-user.target
