Host *
    SendEnv LANG LC_*
    HashKnownHosts yes
    GSSAPIAuthentication yes
    StrictHostKeyChecking yes
    GlobalKnownHostsFile /etc/ssh/ssh_known_hosts

Host ${' '.join(sorted(multiplex_hosts))}
    ControlMaster auto
    ControlPath ~/.ssh/multiplex-%C
    ControlPersist 5m
