Host *
    SendEnv LANG LC_*
    HashKnownHosts yes
    GSSAPIAuthentication yes
    StrictHostKeyChecking yes
    GlobalKnownHostsFile /etc/ssh/ssh_known_hosts
    # fixme: prevents backup server from sleeping
    # ControlMaster auto
    # ControlPath ~/.ssh/multiplex-%C
    # ControlPersist 5m
