Port 22
AddressFamily any
ListenAddress 0.0.0.0
ListenAddress ::

PermitRootLogin prohibit-password
StrictModes yes
MaxAuthTries 10
MaxSessions 255
PubkeyAuthentication yes
PasswordAuthentication no
ChallengeResponseAuthentication no
AuthorizedKeysFile	.ssh/authorized_keys
UsePAM yes

PermitTTY yes
TCPKeepAlive yes
ClientAliveInterval 30
ClientAliveCountMax 5
AcceptEnv LANG LC_*
Subsystem	sftp	/usr/lib/openssh/sftp-server
